<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aether" version="6.0" targetFramework="net45" />
  <package id="Chiron" version="1.0.0" targetFramework="net45" />
  <package id="FParsec" version="1.0.1" targetFramework="net45" />
  <package id="Freya" version="0.10.0-alpha-143" targetFramework="net45" />
  <package id="Freya.Core" version="0.10.0-alpha-143" targetFramework="net45" />
  <package id="Freya.Integration" version="0.10.0-alpha-143" targetFramework="net45" />
  <package id="Freya.Machine" version="0.10.0-alpha-143" targetFramework="net45" />
  <package id="Freya.Machine.Extensions.Http" version="0.10.0-alpha-143" targetFramework="net45" />
  <package id="Freya.Machine.Extensions.Http.Cors" version="0.10.0-alpha-143" targetFramework="net45" />
  <package id="Freya.Machine.Router" version="0.10.0-alpha-143" targetFramework="net45" />
  <package id="Freya.Pipeline" version="0.10.0-alpha-143" targetFramework="net45" />
  <package id="Freya.Recorder" version="0.10.0-alpha-143" targetFramework="net45" />
  <package id="Freya.Router" version="0.10.0-alpha-143" targetFramework="net45" />
  <package id="Freya.Types" version="0.10.0-alpha-143" targetFramework="net45" />
  <package id="Freya.Types.Http" version="0.10.0-alpha-143" targetFramework="net45" />
  <package id="Freya.Types.Http.Cors" version="0.10.0-alpha-143" targetFramework="net45" />
  <package id="Freya.Types.Language" version="0.10.0-alpha-143" targetFramework="net45" />
  <package id="Freya.Types.Uri" version="0.10.0-alpha-143" targetFramework="net45" />
  <package id="Freya.Types.Uri.Template" version="0.10.0-alpha-143" targetFramework="net45" />
  <package id="FSharp.Core" version="3.1.2.1" targetFramework="net45" />
  <package id="Hekate" version="0.3.0" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Diagnostics" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="3.0.0" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
</packages>